/* :::::::::::::Generales<open>::::::::::::: */
body{
  background: url("../../img/turism_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-size{
  width: 80%;
}
.nav-height{
  height: 100px;
  width: 100%;
}
.btn-margin{
  margin: 20px;
}

/* :::::::::::::Generales<close>::::::::::::: */



@media all and(max-width:600px) {
  .img-size{
    width: 40%;
  }
}
