/* NOTE: Estilos personalizados */

/* :::::::::::::Colores<open>::::::::::::: */
/* NOTE: Color primario para contenedor principal  */
.primaryColor{
  background-color: rgba(222, 140, 120, 0.8);
}
.secondaryColor{
  background-color: rgba(247,221,213,0.7);
}
.tertiaryColor{
  background-color: rgba(206, 213, 214, 0.8);
}
.font1rstColor{
  color: rgba(255, 255, 255, 0.8);
}
.font2ndColor{
  color: rgb(108, 108, 108);
}
/* :::::::::::::Colores<close>::::::::::::: */

/* :::::::::::::Estilos generales<open>::::::::::::: */
*,p,h3,h5{
  font-family: 'Alegreya Sans', sans-serif;
}
body{
  background-image: url("../../img/food_back.jpg");
  background-size:cover;
  background-attachment: fixed;
}

.border-right{
  border-right: 0.5px solid #F5EEEC;
}
.border{
  border: 0.5px solid #F5EEEC;
  padding: 2px;
}
h5{
  text-align: right;
}
#ContenidoBusqueda{
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
}
.navBar{
  border: 0.5px solid #F5EEEC;
  border-radius: 3px;
}
.navBar:hover{
  background-color: rgba(232, 38, 22, 0.8);
  transition: background 2s;
}
ul>h4>li{
  background-color: #DBDBDB;
}
/* :::::::::::::Estilos generales<close>::::::::::::: */

/* :::::::::::::Estilos contenedores<open>::::::::::::: */
.grid-container>.row{
  height: 180px;
}



/* :::::::::::::Estilos contenedores<close>::::::::::::: */

/* :::::::::::::Media Queries<open>::::::::::::: */
/*  Plantilla
@media all and (min-width: XXXpx) {

}
} */
/* :::::::::::::Media Queries<close>::::::::::::: */
